rube-memory.json
[{"id":"9f41edc6.7dabd","type":"tab","label":"rube-memory","disabled":false,"info":""},{"id":"779f0119.823f8","type":"function","z":"9f41edc6.7dabd","name":"generate-next-number","func":"const rand = Math.floor(Math.random() * Math.floor(9999));\nconst num = ('000' + rand).slice(-4);\n\n// if we have a payload, that means we came via post\n// msg.payload = msg.req.headers.my;\n// else generate next one\n\nmsg.payload = num;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["42a4a013.5bbcf"]]},{"id":"f6e14a3c.88c3d8","type":"http in","z":"9f41edc6.7dabd","name":"","url":"/guess","method":"post","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["779f0119.823f8"]]},{"id":"c4fc59e.964b4a8","type":"http in","z":"9f41edc6.7dabd","name":"","url":"/start","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["779f0119.823f8"]]},{"id":"c2df3ac8.5648e8","type":"http response","z":"9f41edc6.7dabd","name":"","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"42a4a013.5bbcf","type":"template","z":"9f41edc6.7dabd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Next number {{payload}}","output":"str","x":620,"y":100,"wires":[["c2df3ac8.5648e8"]]}]